.album__img{
    width: 20%;
    margin: 15px;
    background: #ebebeb;
    box-shadow:  20px 20px 60px #c8c8c8,
    -20px -20px 40px #ffffff;
}

@media screen and (max-width: 768px) {
    .album__img{
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .album__img{
        width: 80%;
    }
}